/* .toggleMode {
  background-color: white;
} */

.darkMode {
  color: white;
}

.lessOpacity {
  opacity: 0.8;
}

.blackLikeBG {
  background-color: rgb(68, 68, 68);
}

.bodyBlackBG {
  background-color: rgb(25, 18, 18);
}

.toggleSignBtn {
  cursor: pointer;
}

.edit-btn, .delete-btn {
  cursor: pointer;
}

.form-check-input {
  margin-top: 3px;
}

.edit-delete-buttons {
  gap: 5px;
}

@media only screen and (max-width: 321px) {
  .task-input {
    font-size: 1rem;
  }

  .edit-btn,.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .edit-svg, .delete-svg {
    width: 20px !important;
    height: 20px !important;
  }

}

